body{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    background-color: #707C74;
}

.allcontent{
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    background-color: #f6efef
}

h1, h2 {
    font-family: 'Garamond', serif;
    color: #ec9385;
}


h1 {
    border-bottom: .5px solid #707C74;
    font-size: 300%;
}


h2{
    font-family: monospace;
    font-size:145%;
}


p {
    color: rgb(41, 48, 39);
    font-size: 120%;
    margin-left: 15px;
}

/* Restaurant Section Styles (General for all pages) */
.restaurant {
    background-color: #FFFFFF;
    border: 1px solid #004225; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant img {
    width: 450px; 
    height: 300px; 
    object-fit: cover; /*keep same img ratio*/
    border-radius: 5px; /*curve borders*/
    margin-bottom: 15px; 
}

/* Link back to main page */
a { /*keeps all the links (anything using a selector) the same color/format*/
    color: #004225;
    text-decoration: none;
    font-weight: bold;
}

.backToMain {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004225; 
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}


.featured{
    line-height: 1;
    border-width: thin;
    border-style: solid;
    border-color: #707C74;
    width: 250px;

    padding: 0px 20px 30px 10px;

    margin-left: 20px;
    text-align: center;
   
    float: right;
}


.featured h2{
    color: #ec9385;
    font-size: large;
}




.featured h3{
    color: rgb(95, 155, 125);
    font-size: medium;
}


.featured h4{
    color: rgb(95, 155, 125);
    font-size: medium;
}



h5{
    color: #ec9385;
    font-size: large;
    margin-top: 100px; 
}


p, h1, h2 {
    padding: 10px;
    margin: 15px;
  }


  .allcontent {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
  }


  img {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

